* {
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
    background-color: rgb(219, 246, 248);
}
h1{ 
    font:bold 20px 
    Baskerville Old Face;
    font-size: 50px;
    } 
 p{text-align: center;}     
 input:hover{
    background-image: linear-gradient(blue,white);  
 }
#cabezado{
    display: block;
    width: 1235px;
    margin-left: 160px;
    padding: 10px;
    background: rgb(0, 0, 0 ,0.1); 
    border: 2px solid black;
    border-radius: 35px / 20px;
    background: -webkit-linear-gradient(27deg,#ffffff 10%,blue);
    background: -moz-linear-gradient(27deg,#ffffff 10%, white);
    text-shadow: 2px 2px 10px white;
    box-shadow: 10px 10px 100px rgb(187, 182, 182)    
}
#seccion{
        width: 1440px;
        margin: 50px;
        padding: 50px;
        font:bold 15px Baskerville Old Face;
        text-align: left;
}
#principal{
    width: 1648px;
    margin: 100px;
}
#articulo{
    text-decoration: underline;
    font-size: 30px;
    margin: 30px;
    text-align: center;
}
#general{
    width: 1340px;
    height: 500px;
    margin: 50px;
}    
#cuadroGeneral{
    display: block;
    margin: 60px auto;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
    border: 5px solid black;
    background-image: linear-gradient(blue,white);    
    text-align: center;
    width: 300px;
    height: 350px;
    padding: 25px;
    box-shadow: 10px 10px 5px rgb(44, 44, 44);
    float: left;
}
#cuadroG{
    margin: 10px;
}
#fila1{
    width: 280px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.fila2{
    width: 280px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#tablero{
    display: block;
    text-align: center;
    font-size: 40px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    border: 2px solid black;
}

.tam{
    display: inline;
    margin: 2px;
    width: 55px;
    height: 55px;
    border: 2px salid black;
    font-size: 20px;
}
#imagen{
    border-radius: 15px;
    border: 5px solid black;
    margin: 40px;
    margin-top: 150px;
    margin-left: 120px;
    float: left;
    -webkit-transition: width 5s; 
  transition: width 5s;
  -webkit-transition: height 5s; 
  transition: height 5s;
}

#imagen:hover{
    width: 500px;
    height: 500px;
}